/venv/
/soc/__pycache__/
/app/__pycache__/
/attack/__pycache__/
/process/__pycache__/
/junk/
process_data_pcaps.py
pyshark_capture.py
run_analyse.py
sub_process_tcpdump.py
definicoes_variaveis_modelo_rna.txt
analyse_data.ipynb
.env
docker-compose.yml
/db_create/